{{ if .Content }}

<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ .Title }}</h1>
        <h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5>
        <div class="divider"></div>
      </div>
    </div>
    {{ .Content }}

  </div>
</section>
{{ end }}

{{ if .Site.Params.devsection1 }}
  {{ partial "single/devsection1.html" . }}
{{ end }}

{{/*{{ if .Site.Params.devsection2 }}*/}}
{{/*  {{ partial "single/devsection2.html" . }}*/}}
{{/*{{ end }}*/}}

{{/*{{ if .Site.Params.devsection3 }}*/}}
{{/*  {{ partial "single/devsection3.html" . }}*/}}
{{/*{{ end }}*/}}



{{ if .Site.Params.footer }}
  {{ partial "footer.html" . }}
{{ end }}

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

{{ if .Site.Params.sidebar }}
  {{ partial "sidebar.html" . }}
{{ end }}
